body{
    color:white;
    font-size:50px;
    
    background-image:url('https://image.freepik.com/free-photo/comfort-warm-outfit-cold-weather_72402-251.jpg');
    background-repeat:no-repeat;
    background-size:cover;

}
.overlay{
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
  }

nav{
    text-align:right;
    font-size:20px;
}

a{
    text-decoration:none;
    padding:10px;
    color:white;
}

nav>ul>a:hover{
    box-shadow:5 5 10px;
    background-color:brown;
}