body{
    color:rgb(197, 182, 182);
    font: size 40px;
    

    background-image:url('https://image.freepik.com/frhttps://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fboutique%2Bbackground&psig=AOvVaw1QsdDNAJdhPnw9x9YOl0Uw&ust=1646917042847000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPD11a2KufYCFQAAAAAdAAAAABADee-photo/comfort-warm-outfit-cold-weather_72402-251.jpg');

    background-repeat:no-repeat;
    background-size:fill;

}

nav{
    text-align:center;
    font: size 24px;
}

a{
    text-decoration:none;
    padding:10px;
    color:rgb(223, 217, 217);
}

nav>ul>a:hover{
    box-shadow:5 5 10px;
    background-color:brown;
}
.wend{
    display: flex;
   margin-top: -45px;
  }
  h2{
    font-family: 'Gabriela', serif;
    /* font-size: 7em; */
    text-align: center;
  }
  .pap{
    font-size: 30px;
  }
#about {
    background-color: rgba(0, 0, 0, 0.774);
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 11ee0224c98847ef9d40963f05688d42d0410836
