body{
  background-image:url('https://image.freepik.com/free-photo/comfort-warm-outfit-cold-weather_72402-251.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  
  

}

nav{
  text-align:right;
  font-size:20px;
}

a{
  text-decoration:none;
  padding:10px;
  color:white;
  
}

nav>ul>a:hover{
  box-shadow:5 5 10px;
  background-color:brown;
}

  

footer{
  text-align:center;
  font-size:3em;
  text-decoration-color:blueviolet;
  align-items:bottom;
  position: relative;
  top: 700px;
}

table {
  border-collapse: collapse;
  text-align:center;
}

table, th, td {
  border: 1px solid black;
  padding:40px;
  font-size:30px;

  
}

#contacts{
  position: relative;
  left: 500px;
  top: 300px;
  
}






  
