body{
    background-image:url('https://image.freepik.com/free-photo/comfort-warm-outfit-cold-weather_72402-251.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-size:20px;
    background-color:rgba(0, 0, 0, 0.5)

}

  

#jewellery{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.tags{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

nav{
    text-align:right;
}

a{
    text-decoration:none;
    padding:10px;
    color:white;
    
}

nav>ul>a:hover{
    box-shadow:5 5 10px;
    background-color:brown;
}
button{
    background-color:brown;
    padding:10px;
} 
  