body{
    background-image:url('back.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    font-size:20px;
    background-color:rgba(0, 0, 0, 0.5)

}

  

#jewellery{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.tags{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

nav{
    text-align:right;
}

a{
    text-decoration:none;
    padding:10px;
    color:rgb(211, 208, 208);
    
}

nav>ul>a:hover{

    box-shadow:5 10 15px;
    background-color:brown;

}
button{
    background-color:rgb(122, 32, 32);
    padding:10px;
} 
  