body{
    background-image:url('back.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    font-size:20px;
    background-color:rgba(134, 119, 119, 0.5)

}

  

#jewellery{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.tags{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

nav{
    text-align:right;
}

a{
    text-decoration:none;
    padding:10px;
    color:white;
    
}

nav>ul>a:hover{
    box-shadow:5 5 10px;
<<<<<<< HEAD
    background-color:rgb(131, 40, 40);
}
button{
    background-color:rgb(122, 32, 32);
=======
    background-color:rgb(129, 45, 45);
}
button{
    background-color:rgb(136, 80, 80);
>>>>>>> all changes
    padding:10px;
} 
  