body{
    background-image:url(
    file:///home/student/Downloads/vic.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family:Comic Sans;
    padding: 10px;
        
}

marquee{
  color: blueviolet(32, 31, 24);
  font-size:6em;
  font-style:italic;
}

#about{
    font-family:Cambria;
    

}


nav{
  text-align:right;
  font-size:20px;
  
  
  
}

/*#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/

ul>li{
  display:inline-block;
}
a{
  text-decoration:none;
  padding:5px;
  color:rgb(78, 172, 24);
}

nav>ul>li>a:hover{
  box-shadow:5 5 10px;
  background-color:brown;
}

/*#clothes>div>img{
  max-width: 200px;
  
  
}*/

#clothes, #shoes, #jewellery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div>img {
  padding: 5px;
}

#clothes, #shoes, #jewellery{
  position: center;
}

#contacts{
  text-align:center;

}
h1{
  color:aqua(78, 172, 24);
font-size:14em;
}
  

